<template>
  <div class="dashboard">
    <v-toolbar>
      <v-toolbar-side-icon></v-toolbar-side-icon>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <li class="my-badge" flat v-for="tool in toolbarIcon" :key="tool.icon">
          <v-badge color="green" class="custom">
            <span v-if="tool.total" slot="badge">{{tool.total}}</span>
            <v-icon color="grey">
              {{tool.icon}}
            </v-icon>
          </v-badge>
          <div class="tooltext" v-if="tool.name">
            {{tool.name}}
          </div>
        </li>
      </v-toolbar-items>
    </v-toolbar>

    <v-navigation-drawer absolute width="250" class="drawers-color">
      <v-container align-center class="info-detail">
        <v-layout row wrap>
          <v-flex xs12>
            <v-avatar class="avatar" slot="activator" size="100px">
                <img src="https://avatars0.githubusercontent.com/u/9064066?v=4&s=460" alt="Avatar">
            </v-avatar>
            <h4 class="text-center name">{{name}}</h4>
            <p class="text-center position">
              {{position}} 
              <v-icon class="icon-down">
                {{icon.name}}
              </v-icon>
            </p>
          </v-flex>
        </v-layout>
      </v-container>

    <v-divider></v-divider>

    <v-list dense class="pt-0 navigasi">
      <v-list-tile v-for="item in items" :key="item.title" @click="" v-bind:class="{active:item.active}">
        <v-list-tile-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title class="titles">{{ item.title }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>
  <v-content id="content">
    <v-container grid-list-md text-xs-center>
      <v-layout row wrap>
        <v-flex xs12>
          <v-card-text>
            <v-card>
              <v-toolbar card class="my-card" dense>
                <v-toolbar-title class="body-2">List Users</v-toolbar-title>
              </v-toolbar>
            </v-card>
            <v-card>
              <v-btn fab dark small color="info" class="my-btns">
                  <v-icon dark>add</v-icon>
                </v-btn>
              <v-card-title>
                <v-flex xs12 sm4>
                  <v-text-field class="my-search" label="Search" solo-inverted prepend-inner-icon="search"></v-text-field>
                </v-flex>
              </v-card-title>
              <v-data-table
                :headers="headers"
                :items="users"
                class="elevation-1"
              >
              <template slot="items" slot-scope="props">
                <td class="text-xs-left">{{ props.item.username }}</td>
                <td class="text-xs-left">{{ props.item.name }}</td>
                <td class="text-xs-left">{{ props.item.telephone }}</td>
                <td class="text-xs-left">{{ props.item.role }}</td>
                <td>
                  <v-flex sm12 xs12>
                      <v-btn flat small color="primary">EDIT</v-btn>
                      <v-btn flat small color="error">DELETE</v-btn>
                  </v-flex>
                </td>
              </template>
              </v-data-table>
            </v-card>
          </v-card-text>
      </v-flex>
      </v-layout>
    </v-container>
  </v-content>
  </div>
</template>

<script>
export default {
  name: 'Dashboard',
  data(){
    return {
      items: [
        { title: 'Dashboard', icon: 'dashboard',active:false },
        { title: 'Graphic', icon: 'equalizer',active:false },
        { title: 'Forms', icon: 'note',active:false },
        { title: 'Table', icon: 'grid_on',active: true},
      ],
      headers:[
        {text: 'Username',sortable:false,value:'username'},
        {text: 'Name',sortable:false,value:'name'},
        {text: 'Telephone',sortable:false,value:'telephone'},
        {text: 'Role',sortable:false,value:'role'},
        {text: 'Action',sortable:false,value:'action',align:'center'},
      ],
      toolbarIcon: [
        {icon: 'mail'},
        {icon: 'notifications',total: 5},
        {icon: 'exit_to_app',name:'Logout'},
      ],
      name: 'Jhon Doe',
      icon:{
        name:'arrow_drop_down'
      },
      position: 'Art Director',
      right: null,
      editedItem:{
        username: 'Username',
        name: 'Name',
        telephone: 'ex.080989999',
        role: 'A'
      }
    }
  },
  methods: {
    initialize(){
      this.users = [
        {
          value: false,
          username: 'JohnHund',
          name: 'John Hunyadi',
          telephone: '083812349876',
          role: 'A'
        },
        {
          value: false,
          username: 'IteungJuleha',
          name: 'Juleha Iteung',
          telephone: '082143211234',
          role: 'B'
        },
        {
          value: false,
          username: 'Killa',
          name: 'Kiki Lala',
          telephone: '089009878765',
          role: 'A'
        },
        {
          value: false,
          username: 'OjKino',
          name: 'Fakhroji Kino',
          telephone: '087812340987',
          role: 'C'
        },
        {
          value: false,
          username: 'AcaAca',
          name: 'Azhar Rio',
          telephone: '08213456876',
          role: 'B'
        },
        {
          value: false,
          username: 'topijerami',
          name: 'Beta Priyoko',
          telephone: '083812349876',
          role: 'A'
        },
        {
          value: false,
          username: 'JDoe',
          name: 'Jhon Doe',
          telephone: '082143288892',
          role: 'B'
        },
        {
          value: false,
          username: 'msmitsh',
          name: 'Mark Smith',
          telephone: '089009878765',
          role: 'A'
        },
        {
          value: false,
          username: 'OjKino',
          name: 'Fakhroji Kino',
          telephone: '087812340987',
          role: 'C'
        },
        {
          value: false,
          username: 'AcaAca',
          name: 'Azhar Rio',
          telephone: '08213456876',
          role: 'B'
        }
      ]
    }
  },
  created(){
    this.initialize();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .drawers-color{
    background: #001317;
    color: #fff;
  }

  .v-icon,.navigasi{
    color: #fff;
  }

  .name{
    margin: 5px 0;
  }

  .position{
    font-size: 12px;
  }
  
  .icon-down{
    font-size: 16px;
  }

  .navigasi > div{
    padding: 7px 0;
  }
  .v-list--dense .v-list__tile .v-icon{
    font-size: 35px!important;
  }

  .text-center{
    text-align: center;
  }

  .avatar{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .active{
    background: #020a0c;
  }

  .info-detail{
    background: #021f23;
    padding-bottom: 0;
  }

  .my-badge{
    list-style: none;
    padding: 21px 30px;
    display: flex;
    cursor: pointer;
  }
  
  .my-badge:hover{
    background: #eaeaea;
  }

  .tooltext{
    padding: 2px 5px;
  }
  #content{
    padding: 10px 0px 0px 250px !important;
  }

  .v-list__tile__title{
    font-weight: 400;
  }

  .active .v-list__tile__title{
    font-weight: bold;
  }

  .my-btns .v-icon {
    font-size: 24px;
    top: 8px;
    position: absolute;
  }

  .my-btns{
    position: absolute;
    right: 25px;
    top: -25px;
  }

  .my-card{
    background: #e0e0e0;
  }

  .my-search .v-input__control{
    min-height: 40px!important;
  }

  .my-search .v-text-field__details{
    display: none;
  }
</style>
